.loader{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px dashed rgba(56, 113, 221, 0.575);
  animation: rotate .5s infinite linear;
}

 @keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to{
    transform: rotate(360deg) scale(1.4);
  }
}