.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin: 30px 0 ;
}

.links a{
  margin: 0 8px;
  font-weight: 600;
  font-size: 18px;
  color: black;

}