*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
  font-family: system-ui;
}

#root{
  display: flex;
  justify-content: center;
}
.App{
  width: 90%;
  padding: 10px 5px;
}
.post{
  border: 2px solid rgb(13, 108, 216);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius:4px;
  margin-bottom: 10px;
}


.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: all 300ms ease-in;
}

.page__wrapper{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.page{
  padding: 6px 9px;
  border:1px solid rgb(23, 23, 211);
  margin: 5px;
  cursor: pointer;
  border-radius:4px;
}

.page__current{
  font-weight: bold;
  background: rgb(57, 163, 250);
  color: white;
}

.login_form{
  display: flex;
  font-family: system-ui;
}
.login_form span{
  font-weight: bold;
  font-family: system-ui;
}
