.btn{
  padding: 5px 10px;
  background: rgb(166, 189, 241);
  border: 2px solid rgb(94, 140, 245);
  border-radius: 5px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  font-family: system-ui;
  margin-left: 5px;
}